@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #b8c6ff;
  overflow: hidden;
}

.background span {
  width: 50vmin;
  height: 50vmin;
  border-radius: 50vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 17;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #fefdf6;
  top: 15%;
  left: 100%;
  animation-duration: 65s;
  animation-delay: -280s;
  transform-origin: 1vw 13vh;
  box-shadow: -100vmin 0 13.07007857283982vmin currentColor;
}
.background span:nth-child(1) {
  color: #fefdf6;
  top: 4%;
  left: 8%;
  animation-duration: 156s;
  animation-delay: -310s;
  transform-origin: -8vw 4vh;
  box-shadow: -100vmin 0 13.212851695903392vmin currentColor;
}
.background span:nth-child(2) {
  color: #fefdf6;
  top: 35%;
  left: 71%;
  animation-duration: 322s;
  animation-delay: -144s;
  transform-origin: 15vw -16vh;
  box-shadow: 100vmin 0 13.338139915710565vmin currentColor;
}
.background span:nth-child(3) {
  color: #fefdf6;
  top: 10%;
  left: 70%;
  animation-duration: 14s;
  animation-delay: -47s;
  transform-origin: 15vw -5vh;
  box-shadow: -100vmin 0 13.419845255616746vmin currentColor;
}
.background span:nth-child(4) {
  color: #fefdf6;
  top: 73%;
  left: 13%;
  animation-duration: 303s;
  animation-delay: -81s;
  transform-origin: 2vw 24vh;
  box-shadow: -100vmin 0 12.942860245963466vmin currentColor;
}
.background span:nth-child(5) {
  color: #fefdf6;
  top: 38%;
  left: 76%;
  animation-duration: 47s;
  animation-delay: -232s;
  transform-origin: -3vw 13vh;
  box-shadow: 100vmin 0 13.157474336798803vmin currentColor;
}
.background span:nth-child(6) {
  color: #fefdf6;
  top: 16%;
  left: 50%;
  animation-duration: 159s;
  animation-delay: -267s;
  transform-origin: 12vw 9vh;
  box-shadow: 100vmin 0 12.512275586336829vmin currentColor;
}
.background span:nth-child(7) {
  color: #fefdf6;
  top: 8%;
  left: 51%;
  animation-duration: 332s;
  animation-delay: -320s;
  transform-origin: 6vw 1vh;
  box-shadow: 100vmin 0 13.34845885790374vmin currentColor;
}
.background span:nth-child(8) {
  color: #fefdf6;
  top: 13%;
  left: 60%;
  animation-duration: 263s;
  animation-delay: -66s;
  transform-origin: -14vw -4vh;
  box-shadow: -100vmin 0 13.322028935314675vmin currentColor;
}
.background span:nth-child(9) {
  color: #fefdf6;
  top: 65%;
  left: 33%;
  animation-duration: 248s;
  animation-delay: -120s;
  transform-origin: -18vw -2vh;
  box-shadow: 100vmin 0 13.09573373636146vmin currentColor;
}
.background span:nth-child(10) {
  color: #fefdf6;
  top: 97%;
  left: 93%;
  animation-duration: 138s;
  animation-delay: -120s;
  transform-origin: 3vw 9vh;
  box-shadow: 100vmin 0 13.298862329003828vmin currentColor;
}
.background span:nth-child(11) {
  color: #fefdf6;
  top: 73%;
  left: 48%;
  animation-duration: 174s;
  animation-delay: -181s;
  transform-origin: -22vw 0vh;
  box-shadow: 100vmin 0 12.975635296930237vmin currentColor;
}
.background span:nth-child(12) {
  color: #fefdf6;
  top: 47%;
  left: 99%;
  animation-duration: 174s;
  animation-delay: -154s;
  transform-origin: -23vw -23vh;
  box-shadow: -100vmin 0 13.221955862151647vmin currentColor;
}
.background span:nth-child(13) {
  color: #fefdf6;
  top: 72%;
  left: 75%;
  animation-duration: 82s;
  animation-delay: -223s;
  transform-origin: 16vw 20vh;
  box-shadow: -100vmin 0 12.547486453479001vmin currentColor;
}
.background span:nth-child(14) {
  color: #fefdf6;
  top: 91%;
  left: 62%;
  animation-duration: 17s;
  animation-delay: -321s;
  transform-origin: 2vw -22vh;
  box-shadow: -100vmin 0 12.710640514263222vmin currentColor;
}
.background span:nth-child(15) {
  color: #fefdf6;
  top: 5%;
  left: 62%;
  animation-duration: 173s;
  animation-delay: -303s;
  transform-origin: 12vw -17vh;
  box-shadow: 100vmin 0 12.585328753976203vmin currentColor;
}
.background span:nth-child(16) {
  color: #fefdf6;
  top: 70%;
  left: 1%;
  animation-duration: 289s;
  animation-delay: -287s;
  transform-origin: -1vw 6vh;
  box-shadow: 100vmin 0 12.705921032045891vmin currentColor;
}
.background span:nth-child(17) {
  color: #fefdf6;
  top: 93%;
  left: 70%;
  animation-duration: 90s;
  animation-delay: -124s;
  transform-origin: -21vw -9vh;
  box-shadow: -100vmin 0 13.080391744909187vmin currentColor;
}
.background span:nth-child(18) {
  color: #fefdf6;
  top: 42%;
  left: 99%;
  animation-duration: 308s;
  animation-delay: -218s;
  transform-origin: 6vw -23vh;
  box-shadow: 100vmin 0 13.198993463659862vmin currentColor;
}
.background span:nth-child(19) {
  color: #fefdf6;
  top: 50%;
  left: 61%;
  animation-duration: 74s;
  animation-delay: -64s;
  transform-origin: 18vw -12vh;
  box-shadow: 100vmin 0 13.027175591384738vmin currentColor;
}
.background span:nth-child(20) {
  color: #fefdf6;
  top: 62%;
  left: 42%;
  animation-duration: 39s;
  animation-delay: -172s;
  transform-origin: 19vw -22vh;
  box-shadow: -100vmin 0 12.755678019340785vmin currentColor;
}
.background span:nth-child(21) {
  color: #fefdf6;
  top: 85%;
  left: 92%;
  animation-duration: 289s;
  animation-delay: -260s;
  transform-origin: -11vw 18vh;
  box-shadow: 100vmin 0 13.036512979787696vmin currentColor;
}
.background span:nth-child(22) {
  color: #fefdf6;
  top: 2%;
  left: 46%;
  animation-duration: 68s;
  animation-delay: -86s;
  transform-origin: 9vw 7vh;
  box-shadow: -100vmin 0 12.763695974543708vmin currentColor;
}
.background span:nth-child(23) {
  color: #fefdf6;
  top: 12%;
  left: 28%;
  animation-duration: 74s;
  animation-delay: -196s;
  transform-origin: 20vw -14vh;
  box-shadow: -100vmin 0 13.296390307457091vmin currentColor;
}
.background span:nth-child(24) {
  color: #fefdf6;
  top: 22%;
  left: 68%;
  animation-duration: 200s;
  animation-delay: -200s;
  transform-origin: 15vw -3vh;
  box-shadow: -100vmin 0 13.03625752793891vmin currentColor;
}
.background span:nth-child(25) {
  color: #fefdf6;
  top: 18%;
  left: 73%;
  animation-duration: 33s;
  animation-delay: -94s;
  transform-origin: -19vw 13vh;
  box-shadow: -100vmin 0 13.419919050593855vmin currentColor;
}
.background span:nth-child(26) {
  color: #fefdf6;
  top: 81%;
  left: 90%;
  animation-duration: 223s;
  animation-delay: -140s;
  transform-origin: -12vw 6vh;
  box-shadow: 100vmin 0 12.567723954492294vmin currentColor;
}
